@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
}

@layer components {
  .primary-btn {
    @apply inline-block px-4 py-2 my-3 text-white rounded-lg cursor-pointer bg-primary hover:bg-primary/80;
  }

  .outline-btn {
    @apply inset-0 inline-block px-4 py-2 my-3 rounded-lg cursor-pointer ring-2 ring-primary text-primary hover:bg-primary/80 hover:text-white;
  }

  .social-btn {
    @apply text-5xl duration-200 cursor-pointer hover:text-primary;
  }

  .page-shadow {
    @apply shadow-[inset_0_0_8px_rgba(0,0,0,0.6),12px_12px_14px_rgba(0,0,0,0.9)];
  }
}


.text-sharp {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}